# Quarto extensions are fetched with ./RUNME.sh install_deps
_extensions/
.quarto/
output/

# Nix
result
result-*

.DS_Store

/.quarto/

# terraform / opentofu working state
.terraform/
.terraform.lock.hcl
terraform.tfstate*
